@charset "UTF-8";
#content_wrap #content_box, #content_show {
  width: 1200px;
  margin: 0 auto;
}

/* 
	广告区
	⬇⬇⬇⬇⬇⬇⬇
*/
#adv_box {
  width: 100%;
  height: 150px;
  background: url(../images/xiangqing_ad.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
}

/* 
	⬆⬆⬆⬆⬆⬆⬆
	广告区
*/
/* 
	导航区
	⬇⬇⬇⬇⬇⬇⬇
*/
#nav_mask {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #000;
  opacity: .7;
  position: relative;
  z-index: 999999;
}
#nav_mask ul {
  width: 1200px;
  margin: 0 auto;
  z-index: 999999;
}
#nav_mask ul li {
  float: left;
  position: relative;
  font-size: 14px;
  z-index: 99999;
  padding: 7px 0;
  cursor: pointer;
}
#nav_mask ul li a {
  display: block;
  height: 100%;
  color: #fff;
  padding: 0 17px;
  line-height: 16px;
  white-space: nowrap;
  font-size: 14px;
}
#nav_mask ul li .nav_liborder {
  border-right: 1px solid #5c5c5c;
}
#nav_mask ul li .nav_liborder i {
  margin-left: 5px;
}
#nav_mask ul li .nav_li_allgoods {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999999;
}
#nav_mask ul li .nav_li_allgoods li {
  width: 160px;
  height: 30px;
  position: relative;
  z-index: 99999;
  cursor: pointer;
}
#nav_mask ul li .nav_li_allgoods li a {
  display: block;
  font-size: 12px;
  color: #fff;
  padding: 0 26px;
  background: url(../images/xiangqing_nav_goods_jiantou.png) 14px 4px no-repeat;
}
#nav_mask ul .allgoods_li:hover .nav_li_allgoods {
  display: block;
}

/* 
	⬆⬆⬆⬆⬆⬆⬆
	导航区
*/
/* 
	内容区
	⬇⬇⬇⬇⬇⬇⬇
*/
#content_wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#content_wrap #content_box {
  overflow: hidden;
}
#content_wrap #content_shopping {
  background-color: #fff;
  position: relative;
  margin: 30px 0;
  min-height: 680px;
  /* 
  	放大镜区
  	⬇⬇⬇⬇⬇⬇⬇
  */
  /* 
  	价格展示区
  	⬇⬇⬇⬇⬇⬇⬇
  */
}
#content_wrap #content_shopping .content_shopping_left {
  position: relative;
  width: 400px;
  height: 669px;
  overflow: hidden;
  float: left;
  z-index: 7;
}
#content_wrap #content_shopping .content_shopping_left .content_shopping_left_img {
  width: 400px;
  height: 669px;
  float: left;
}
#content_wrap #content_shopping .content_shopping_right {
  width: 537px;
  min-height: 530px;
  float: left;
  margin: 0 90px 25px 30px;
}
#content_wrap #content_shopping .content_shopping_right h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main {
  width: 540px;
  height: 100px;
  margin-left: -10px;
  border-bottom: 1px solid #f3f3f3;
  border-top: 1px solid #f3f3f3;
  background: #f6f6f6;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top {
  height: 64px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl {
  min-height: 20px;
  padding-left: 10px;
  position: relative;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl dt {
  display: inline-block;
  color: #999;
  position: absolute;
  font-size: 12px;
  height: 32px;
  line-height: 32px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl dd {
  display: inline-block;
  padding-left: 60px;
  font-size: 14px;
  color: #999;
  height: 32px;
  line-height: 32px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl .goods_redtxt {
  color: #ef2f23;
  font-size: 24px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  width: 262px;
  float: left;
  line-height: 32px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl .goods_sellbox {
  line-height: 32px;
  margin-right: 10px;
  color: #999;
  float: right;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl .goods_sellbox span {
  color: #999;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl .goods_sellbox .appr {
  margin-right: 10px;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_top dl .goods_sellbox .sell span {
  font-size: 12px;
  color: #999;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom {
  position: absolute;
  z-index: 0;
  width: 538px;
  height: 32px;
  line-height: 32px;
  color: #666;
  overflow: hidden;
  background: #f6f6f6;
  padding: 1px 1px 0;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_title {
  display: inline-block;
  vertical-align: top;
  padding-left: 10px;
  color: #999;
  position: absolute;
  top: 0;
  left: 10px;
  padding: 1px 0 0 1px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_con {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  z-index: 666;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_con div {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  width: 100%;
  padding: 0 90px 4px 80px;
  z-index: 666;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_con div a {
  display: inline-block;
  line-height: 20px;
  border-radius: 2px;
  margin-right: 5px;
  white-space: nowrap;
  border: 1px solid #f57;
  z-index: 666;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_con div a span {
  display: inline-block;
  padding-left: 4px;
  padding-right: 2px;
  font-size: 12px;
  line-height: 20px;
  color: #f57;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_main_bottom_con div a .draw {
  color: #fff;
  background: #f57;
  display: inline-block;
  padding: 0 3px;
  cursor: pointer;
  width: 30px;
  line-height: 23px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_more {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  position: absolute;
  width: 67px;
  height: 30px;
  right: 10px;
  top: 0;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_main .goods_main_bottom .goods_more span {
  margin-left: 3px;
  font-size: 12px;
  cursor: pointer;
}
#content_wrap #content_shopping .content_shopping_right .goods_kefu {
  margin-top: 15px;
  clear: both;
}
#content_wrap #content_shopping .content_shopping_right .goods_kefu dl {
  min-height: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  position: relative;
}
#content_wrap #content_shopping .content_shopping_right .goods_kefu dl dt {
  color: #999;
  position: absolute;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_kefu dl dd {
  padding-left: 60px;
}
#content_wrap #content_shopping .content_shopping_right .goods_kefu dl dd .kefu {
  width: 85px;
  height: 24px;
  cursor: pointer;
  text-indent: -9999px;
  display: inline-block;
  background: url("../images/goods_kefu.gif");
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_sku_content {
  height: 163px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_color, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num {
  display: block;
  min-height: 20px;
  padding-left: 10px;
  padding-bottom: 15px;
  position: relative;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_color dt, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size dt, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num dt {
  color: #999;
  position: absolute;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_color dd, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size dd, #content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num dd {
  padding-left: 60px;
  display: block;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_color .goods_color_img {
  border: 2px solid #666;
  margin: -1px 14px 4px -1px;
  display: inline-block;
  cursor: pointer;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_color .goods_color_img img {
  width: 45px;
  height: 45px;
  vertical-align: middle;
  border: 0;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size ul {
  max-height: 110px;
  overflow-y: auto;
  padding: 1px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size ul li {
  margin: 0 10px 5px 0;
  cursor: pointer;
  float: left;
  padding: 0 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 28px;
  border: 1px solid #ddd;
  white-space: nowrap;
  word-wrap: normal;
  background: #fff;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_size .goods_size_active {
  border: 2px solid #666;
  margin: -1px 9px 4px -1px;
  background: url("../images/chimagougou.png") right bottom no-repeat;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .ipt {
  position: relative;
  width: 95px;
  height: 26px;
  zoom: 1;
  border: 1px solid #ddd;
  float: left;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .ipt span {
  float: left;
  width: 24px;
  height: 25px;
  display: inline-block;
  cursor: pointer;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .ipt .jiaNum {
  background: url("../images/xiangqing_script.png") no-repeat;
  overflow: hidden;
  background-position: -3px 2px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .ipt .jianNum {
  background: url("../images/xiangqing_script.png") no-repeat;
  background-position: -3px -78px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .ipt input {
  width: 44px;
  text-align: center;
  color: #000;
  font-size: 14px;
  border: 0;
  height: 25px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  float: left;
  background: none;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .goods_kucun {
  height: 25px;
  line-height: 25px;
  margin-left: 10px;
  float: left;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_num .goods_kucun span {
  font-size: 12px;
  color: #999;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_sku_buy {
  padding: 5px 0 20px 60px;
  height: 75px;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_sku_buy a {
  width: 200px;
  background: #ef2f23;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  text-align: center;
  font: 20px;
  font-weight: 700;
  margin-right: 10px;
  color: #fff;
  float: left;
}
#content_wrap #content_shopping .content_shopping_right .goods_sku .goods_sku_buy .goods_sku_buy_jiaru {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
}
#content_wrap #content_shopping .content_shopping_right .goods_social {
  margin-left: 60px;
  height: 26px;
}
#content_wrap #content_shopping .content_shopping_right .goods_social .goods_social_house, #content_wrap #content_shopping .content_shopping_right .goods_social .fenxiang {
  padding: 0 13px;
  height: 24px;
  border: 1px solid #ddd;
  border-radius: 24px;
  color: #999;
  float: left;
  cursor: pointer;
  margin-right: 10px;
  font-size: 12px;
  line-height: 22px;
}
#content_wrap #content_shopping .content_shopping_right .goods_social .goods_social_house span {
  font-size: 12px;
  line-height: 24px;
  cursor: pointer;
  color: #999;
}
#content_wrap #content_shopping .content_shopping_right .goods_social .goods_social_house span:nth-child(1) {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../images/index_Script.png) no-repeat;
  background: cover;
  background-position: -283px -16px;
}
#content_wrap #content_shopping .content_shopping_right .goods_social .fenxiang b {
  background-image: url("../images/xiangqing_script.png");
  background-position: -9px -56px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
}
#content_wrap #content_shopping .content_shopping_right .goods_social .jubao {
  color: #999;
  float: left;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra {
  padding-top: 20px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_fuwu {
  color: #999;
  float: left;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_fuwu_ul {
  width: 480px;
  margin-left: 5px;
  float: left;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_fuwu_ul li {
  margin-top: -4px;
  height: 30px;
  color: #666;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 10px;
  font-size: 12px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_fuwu_ul li img {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_pay {
  margin-top: 10px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_pay .goods_pay_txt {
  float: left;
  font-size: 12px;
  color: #666;
  width: 60px;
  height: 19px;
}
#content_wrap #content_shopping .content_shopping_right .goods_extra .goods_pay .goods_pay_img {
  overflow: hidden;
  display: block;
  width: 131px;
  height: 20px;
  background: url("../images/xiangqing_script.png") no-repeat;
  background-position: -37px -295px;
  float: left;
}
#content_wrap #content_shopping #liuhanming {
  position: absolute;
  left: 100%;
  top: 0;
  z-index: 6;
  overflow: hidden;
  border-left: 1px solid #eee;
  padding-left: 20px;
  margin-left: -140px;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox {
  width: 100%;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list {
  height: 650px;
  overflow: hidden;
  width: 120px;
  position: relative;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list ul {
  position: absolute;
  margin-bottom: -20px;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list ul li {
  margin-top: 1px;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list ul li a {
  position: relative;
  display: block;
  background-color: #f5f5f5;
  width: 120px;
  height: 180px;
  overflow: hidden;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list ul li a img {
  width: 120px;
}
#content_wrap #content_shopping #liuhanming .liuhanmingbox .liuhanming_list ul li .liuhanming_price {
  font-size: 14px;
  margin-top: 5px;
  color: #333;
  display: block;
  width: 100%;
  text-align: center;
}

/* 
	商品展示区
	⬇⬇⬇⬇⬇⬇⬇⬇
*/
#content_show {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}
#content_show #show_left {
  overflow: hidden;
  width: 200px;
  height: 500px;
  float: left;
}
#content_show #show_left .show_left_shop {
  border: 1px solid #e5e5e5;
}
#content_show #show_left .show_left_shop h3 {
  z-index: 1002;
  width: 198px;
  height: 58px;
  line-height: 58px;
  background: #f6f6f6;
}
#content_show #show_left .show_left_shop h3 a {
  margin-left: 60px;
  display: inline-block;
  padding-right: 20px;
  position: relative;
  line-height: 14px;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
#content_show #show_left .show_left_shop h3 a div {
  position: absolute;
  top: -1px;
  right: 0;
  width: 16px;
  height: 17px;
  background: url("../images/liaotian.gif") no-repeat;
  cursor: pointer;
}
#content_show #show_left .show_left_shop .shop_ul_bd {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_btns {
  overflow: hidden;
  padding: 22px 0 20px;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_btns a {
  margin-left: 22px;
  display: inline-block;
  width: 64px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #ddd;
  color: #333;
  font-size: 12px;
  text-align: center;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_search {
  overflow: hidden;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_search form {
  overflow: hidden;
  width: 158px;
  height: 22px;
  margin: 16px auto;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_search form input:nth-child(1) {
  float: left;
  width: 85px;
  height: 22px;
  line-height: 14px;
  padding: 3px;
  border: 1px solid #ddd;
  border-right-width: 0;
  color: #333;
}
#content_show #show_left .show_left_shop .shop_ul_bd .shop_search form input:nth-child(2) {
  float: left;
  width: 66px;
  height: 22px;
  line-height: 14px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  background: #333;
}
#content_show #show_left .show_left_classify {
  margin-top: 20px;
  border: 1px solid #e5e5e5;
}
#content_show #show_left .show_left_classify h3 {
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #333;
  font-size: 16px;
  background: #f6f6f6;
}
#content_show #show_left .show_left_classify .show_left_classify_ul {
  overflow: hidden;
  border-top: 1px solid #e5e5e5;
}
#content_show #show_left .show_left_classify .show_left_classify_ul ul {
  margin: 20px 0 20px 20px;
}
#content_show #show_left .show_left_classify .show_left_classify_ul ul a {
  display: inline-block;
  width: 155px;
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 11px;
  color: #666;
  font-size: 12px;
  background: url("../images/show_left_classify_ul_bg.png") no-repeat 0 -117px;
}
#content_show #show_left .show_left_repeat {
  margin-top: 20px;
}
#content_show #show_left .show_left_repeat .show_left_repeat_ul {
  border: 1px solid #e5e5e5;
}
#content_show #show_left .show_left_repeat .show_left_repeat_ul h3 {
  height: 38px;
  line-height: 38px;
  text-align: center;
  color: #333;
  font-size: 16px;
  background: #f6f6f6;
}
#content_show #show_center {
  width: 738px;
  float: left;
  border: 1px solid #e5e5e5;
  height: 500px;
  margin-left: 20px;
}
#content_show #show_center .show_center_tab {
  height: 58px;
  border-bottom: 1px solid #e5e5e5;
  background: #f6f6f6;
  z-index: 1001;
  width: 738px;
}
#content_show #show_center .show_center_tab li {
  float: left;
  width: 149px;
  height: 58px;
  border-right: 1px solid #e5e5e5;
}
#content_show #show_center .show_center_tab li a {
  display: block;
  border-top: 4px solid #f6f6f6;
  line-height: 54px;
  font-family: Microsoft YaHei\,arial;
  font-size: 16px;
  color: #333;
  text-align: center;
}
#content_show #show_center .show_center_tab li .show_center_tab_active {
  border-top: 4px solid #ef2f23;
  border-bottom: 1px solid #fff;
  background: #fff;
}
#content_show #show_center .show_center_box {
  min-height: 40px;
}
#content_show #show_center .show_center_box .show_center_box_module {
  overflow: hidden;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 40px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_title {
  overflow: hidden;
  padding: 40px 0 20px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_title h1 {
  padding-bottom: 4px;
  border-bottom: 1px solid #333;
  color: #333;
  font-size: 18px;
  float: left;
  line-height: 18px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info {
  height: 66px;
  border: 1px solid #eee;
  background: #fafafa;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info li {
  width: 118px;
  float: left;
  height: 40px;
  margin: 11px 0 13px;
  margin-right: 35px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score {
  width: 203px;
  margin-left: 18px;
  margin-right: 25px;
  border-right: 1px dotted #ddd;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score .score_xingxing {
  margin-top: 12px;
  margin-right: 18px;
  float: left;
  background: url("../images/cart_pinglun_script.png");
  background-repeat: no-repeat;
  background-position: -694px 0;
  height: 16px;
  width: 85px;
  overflow: hidden;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score .score_xingxing b {
  width: 77px;
  background: url("../images/cart_pinglun_script.png");
  background-position: -694px -17px;
  background-repeat: no-repeat;
  height: 16px;
  overflow: hidden;
  float: left;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score .score_pingfen {
  float: left;
  height: 38px;
  line-height: 38px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score .score_pingfen b {
  color: #ef2f23;
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score .score_pingfen span {
  color: #ef2f23;
  font-family: Microsoft YaHei\,arial;
  font-size: 28px;
  line-height: 38px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content {
  line-height: 16px;
  margin-top: 10px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont .title, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content .title {
  display: block;
  line-height: 12px;
  text-align: center;
  color: #666;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont .count, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content .count {
  line-height: 16px;
  margin-top: 10px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont .count .comment_star, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content .count .comment_star {
  float: left;
  margin-right: 8px;
  background: url("../images/cart_pinglun_script.png");
  background-repeat: no-repeat;
  background-position: -694px 0;
  height: 16px;
  width: 85px;
  overflow: hidden;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont .count .comment_star b, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content .count .comment_star b {
  width: 77px;
  background: url("../images/cart_pinglun_script.png");
  background-repeat: no-repeat;
  height: 16px;
  overflow: hidden;
  float: left;
  background-position: -694px -17px;
}
#content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_cont .count .num_v, #content_show #show_center .show_center_box .show_center_box_module .buyer_main .buyer_main_info .score_content .count .num_v {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}
#content_show .buyer_main_content .tags {
  height: 58px;
  padding: 15px;
  border: 1px solid #eee;
  border-top-width: 0;
  background-color: #fafafa;
}
#content_show .buyer_main_content .tags .list {
  width: 100%;
  overflow: visible;
  float: left;
}
#content_show .buyer_main_content .tags .list a {
  color: #ef2f23;
  font-size: 12px;
  white-space: nowrap;
  word-wrap: normal;
  margin-bottom: 5px;
  display: inline-block;
  padding: 0 8px;
  border: 1px solid #fafafa;
  margin-left: 5px;
  margin-right: 5px;
}
#content_show .buyer_main_content .nav {
  padding: 20px 0;
}
#content_show .buyer_main_content .nav a {
  color: #333;
  font-weight: 700;
  font-size: 12px;
  margin-right: 20px;
  float: left;
}
#content_show .buyer_main_content .buyer_main_box {
  overflow: hidden;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item {
  margin-bottom: 30px;
  overflow: hidden;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info {
  float: left;
  width: 100%;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w {
  margin-left: 60px;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_t {
  margin-bottom: 4px;
  color: #333;
  font-size: 12px;
  overflow: hidden;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_t .name {
  font-size: 14px;
  color: #333;
  float: left;
  margin-right: 5px;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_t .date {
  color: #999;
  float: right;
  font-size: 12px;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_m {
  font-size: 14px;
  color: #666;
  margin-bottom: 4px;
  line-height: 18px;
  word-break: break-all;
  word-wrap: break-word;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_m .sku_choose {
  margin-right: 40px;
  color: #999;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_m .height_weight {
  margin-right: 20px;
  color: #999;
}
#content_show .buyer_main_content .buyer_main_box .buyer_main_item .info .info_w .info_b {
  color: #999;
  font-size: 12px;
}
#content_show #show_right {
  float: left;
  width: 240px;
  height: 500px;
}
#content_show #show_right .show_right_saoma {
  z-index: 1000;
  border-top: 1px solid #e5e5e5;
  position: relative;
  width: 239px;
  height: 58px;
  background: #f6f6f6;
  display: inline-block;
  border-right-width: 0;
  cursor: pointer;
}
#content_show #show_right .show_right_saoma .show_right_saoma_txt {
  width: 239px;
  padding: 0 20px;
  text-align: left;
  line-height: 58px;
  font-size: 12px;
  color: #666;
}
#content_show #show_right .show_right_saoma i {
  position: absolute;
  top: 20px;
  right: 100px;
  width: 20px;
  height: 20px;
  background: url("../images/show_left_classify_ul_bg.png") no-repeat 0 0;
}
#content_show #show_right .show_right_tiaolou {
  overflow: hidden;
  top: 59px;
}
#content_show #show_right .show_right_tiaolou ul {
  width: 204px;
  margin: 15px 18px 0;
  background: #fff;
}
#content_show #show_right .show_right_tiaolou ul li {
  height: 30px;
  line-height: 30px;
  margin: 7px 0;
  cursor: pointer;
  background: url("../images/xiangqing_show_tiaolouBG.png") no-repeat;
}
#content_show #show_right .show_right_tiaolou ul li a {
  display: inline-block;
  line-height: 14px;
  padding-left: 16px;
  margin-left: 57px;
  color: #666;
  font-size: 14px;
  font-family: Microsoft YaHei\,arial;
  background: url("../images/show_left_classify_ul_bg.png") no-repeat 0 -158px;
}

/* 
	⬆⬆⬆⬆⬆⬆⬆
	内容区
*/
/* 
	购物车提醒区
	⬇⬇⬇⬇⬇⬇⬇⬇⬇
*/
#cart_box {
  position: fixed;
  top: 100px;
  right: 0;
  z-index: 999999;
  width: 574px;
  height: 437px;
}
#cart_box #cart {
  padding: 0 30px;
  border: 1px solid #d2d2d2;
  background: #fff;
}
#cart_box #cart .cart_close {
  height: 28px;
  width: 100%;
  text-align: right;
}
#cart_box #cart .cart_close span {
  display: inline-block;
  background-image: url("../images/cart_body_bg.png");
  background-position: -17px -17px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 12px;
  height: 12px;
  float: right;
  width: 23px;
  height: 23px;
  font: 0/0 a;
  margin-right: -30px;
  margin-top: 5px;
  cursor: pointer;
}
#cart_box #cart .cart_body {
  width: 100%;
}
#cart_box #cart .cart_body .cart_body_hader {
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #eee;
}
#cart_box #cart .cart_body .cart_body_hader .tishi {
  margin-bottom: 10px;
  text-align: center;
}
#cart_box #cart .cart_body .cart_body_hader .tishi span {
  height: 30px;
  line-height: 32px;
  padding-left: 30px;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #333;
  background: url("../images/cart_body_bg.png") left top no-repeat;
  background-position: -17px -180px;
}
#cart_box #cart .cart_body .cart_body_hader .jiezhang {
  text-align: center;
}
#cart_box #cart .cart_body .cart_body_hader .jiezhang a {
  color: #fff;
  font-size: 20px;
  text-align: left;
  width: 145px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  padding-left: 20px;
  background: url("../images/cart_body_bg.png") no-repeat, #ef2f23;
  background-position: -14px -115px;
}
#cart_box #cart .cart_body .cart_body_tuijian {
  padding-top: 15px;
}
#cart_box #cart .cart_body .cart_body_tuijian h3 {
  float: left;
  font-size: 12px;
  color: #333;
  margin-bottom: 10px;
}
#cart_box #cart .cart_body .cart_body_tuijian ul {
  margin-right: -20px;
  width: 500px;
  overflow: hidden;
}
#cart_box #cart .cart_body .cart_body_tuijian ul li {
  float: left;
  position: relative;
  width: 110px;
  overflow: hidden;
  margin-right: 15px;
  text-align: center;
}
#cart_box #cart .cart_body .cart_body_tuijian ul li img {
  width: 100%;
  height: 100%;
}
#cart_box #cart .cart_body .cart_body_tuijian ul li .tuijianul a:nth-child(1) {
  display: inline-block;
  height: 165px;
  width: 110px;
  min-height: 110px;
  overflow: hidden;
  background: #f5f5f5;
}
#cart_box #cart .cart_body .cart_body_tuijian ul li .tuijianul a:nth-child(2) {
  height: 14px;
  display: block;
  overflow: hidden;
  line-height: 14px;
  color: #333;
  font-size: 12px;
}
#cart_box #cart .cart_body .cart_body_tuijian ul li span {
  font-size: 14px;
  color: #333;
  line-height: 25px;
}

/* 
	⬆⬆⬆⬆⬆⬆⬆⬆
	购物车提醒区
*/
/* 
	放大镜的CSS
	⬇⬇⬇⬇⬇⬇⬇⬇⬇
*/
.m {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.m .jqueryzoom {
  position: relative;
  padding: 0;
  border: solid 1px #eaeaea;
  width: 400px;
  height: 600px;
  overflow: hidden;
  display: inline-block;
}

.m .jqueryzoom img {
  width: 400px;
  height: 600px;
}

.m ul li {
  float: left;
  margin-right: 5px;
}

.m ul li img {
  width: 60px;
  height: 60px;
}

.m .cloudzoom-gallery-active {
  opacity: .5;
}

/* 
	⬆⬆⬆⬆⬆⬆⬆⬆
	放大镜的CSS
*/

/*# sourceMappingURL=xiangqing.css.map */
